body {
    background-color: white;
}

#tribute {
    font-size: 100;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    padding: 15px;
}

#grid-conatiner {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    margin-left: 65px;
    font-size: 30px;
    text-align: center;
    opacity: inherit;
    box-shadow: red;
}

#tribute-info {
    float: left;
    width: 20%;
    font-size: 20px;
}

footer {
    color: black;
    font-size: 12px;
    float: left
}

.programmer {
    font-family: 'Pacifico', cursive;
    color: mediumblue;
    float: right;
}